Source: runit
Section: admin
Priority: optional
Maintainer: Gerrit Pape <pape@smarden.org>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.5.2

Package: runit
Architecture: any
Depends: ${shlibs:Depends}
Description: minimal replacement for sysvinit using daemontools
 runit cooperates with djb's daemontools package to create a replacement for
 sysvinit. runit currently runs on Debian GNU/Linux but may be easily adapted
 to other unix operating systems using glibc. If runit runs for you on any
 other operating system or linux distribution, please let me know.
 .
 Warning: Replacing sysvinit can cause the system's boot to fail. Make sure
 you are able to recover and repair your system, for example if you run a
 bootloader, it should be able to pass init=/bin/sh to the kernel.
