#!/usr/bin/make -f
# Sample debian/rules that uses debhelper. 
# GNU copyright 1997 by Joey Hess.
#
# This version is for a hypothetical package that builds an
# architecture-dependant package, as well as an architecture-independent
# package.

# Uncomment this to turn on verbose mode. 
#export DH_VERBOSE=1

# This is the debhelper compatibility version to use.
export DH_COMPAT=3

configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.

	touch configure-stamp

build-arch: configure-stamp  build-arch-stamp
build-arch-stamp:
	dh_testdir

	# Add here command to compile/build the package.
	#	$(MAKE)

	tar xfzvp runit-0.9.0.tar.gz
	( \
	set -e; \
	cd admin/runit-0.9.0/src; \
	ln -s runit-0.9.0 runit; mv runit ../..; \
	echo 'diet -v -Os gcc -O2 -Wall' >conf-cc; \
	echo 'diet -v -Os gcc -s -Os -pipe' >conf-ld; \
	$(MAKE); \
	$(MAKE) runsvstat runsvctrl; \
	)

	touch build-arch-stamp

build-indep:  configure-stamp build-indep-stamp
build-indep-stamp:
	dh_testdir

	# Add here command to compile/build the arch indep package.
	# It's ok not to do anything here, if you don't need to build
	#  anything for this package.
	#/usr/bin/docbook-to-man debian/runit.sgml > runit.1

	touch build-indep-stamp

build: build-arch build-indep

clean:
	dh_testdir
	dh_testroot
	rm -f build-arch-stamp build-indep-stamp configure-stamp

	# Add here commands to clean up after the build process.
	#	-$(MAKE) clean
	rm -rf admin

	dh_clean

install: DH_OPTIONS=
install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# Add here commands to install the package into debian/runit.
	#	$(MAKE) install DESTDIR=$(CURDIR)/debian/runit

	# runit
	install -m0500 admin/runit-0.9.0/src/runit \
	  $(CURDIR)/debian/runit/sbin/runit
	install -m0500 admin/runit-0.9.0/src/runit-init \
	  $(CURDIR)/debian/runit/sbin/runit-init
	install -m0755 admin/runit-0.9.0/src/runsvdir \
	  $(CURDIR)/debian/runit/usr/bin/runsvdir
	install -m0755 admin/runit-0.9.0/src/runsv \
	  $(CURDIR)/debian/runit/usr/bin/runsv
	install -m0755 admin/runit-0.9.0/src/runsvchdir \
	  $(CURDIR)/debian/runit/usr/sbin/runsvchdir
	install -m0755 admin/runit-0.9.0/src/svlogd \
	  $(CURDIR)/debian/runit/usr/bin/svlogd
	install -m0755 admin/runit-0.9.0/src/svwaitdown \
	  $(CURDIR)/debian/runit/usr/bin/svwaitdown
	install -m0755 admin/runit-0.9.0/src/svwaitup \
	  $(CURDIR)/debian/runit/usr/bin/svwaitup
	install -m0755 admin/runit-0.9.0/src/utmpset \
	  $(CURDIR)/debian/runit/usr/sbin/utmpset

	install -m0755 admin/runit-0.9.0/src/runsvstat \
	  $(CURDIR)/debian/runit/usr/bin/runsvstat
	install -m0755 admin/runit-0.9.0/src/runsvctrl \
	  $(CURDIR)/debian/runit/usr/bin/runsvctrl

#	install -m0700 debian/1 \
#	  $(CURDIR)/debian/runit/etc/runit/1
#	install -m0700 debian/2 \
#	  $(CURDIR)/debian/runit/etc/runit/2
#	install -m0700 debian/3 \
#	  $(CURDIR)/debian/runit/etc/runit/3
#	install -m0700 admin/runit/etc/debian/ctrlaltdel \
#	  $(CURDIR)/debian/runit/etc/runit/ctrlaltdel
	install -m0755 debian/getty-tty5.run \
	  $(CURDIR)/debian/runit/etc/runit/getty-5/run
	install -m0755 debian/getty-tty5.finish \
	  $(CURDIR)/debian/runit/etc/runit/getty-5/finish

	# lintian overrides
	install -m0755 -d $(CURDIR)/debian/runit/usr/share/lintian/overrides
	install -m0644 debian/runit.lintian \
	  $(CURDIR)/debian/runit/usr/share/lintian/overrides/runit

	# docs
	install -m0755 -d $(CURDIR)/debian/runit/usr/share/doc/runit
	for i in README THANKS; do \
	  install -m0644 admin/runit/package/$$i \
	    $(CURDIR)/debian/runit/usr/share/doc/runit/; \
	done
	for i in README.Debian copyright; do \
	  install -m0644 debian/$$i \
	    $(CURDIR)/debian/runit/usr/share/doc/runit/; \
	done
	install -m0755 -d $(CURDIR)/debian/runit/usr/share/doc/runit/doc
	for i in admin/runit/doc/*.html; do \
	  install -m0644 $$i $(CURDIR)/debian/runit/usr/share/doc/runit/doc/; \
	done
	install -m0755 -d $(CURDIR)/debian/runit/usr/share/doc/runit/doc/debian
	for i in 1 2 3 ctrlaltdel; do \
	  install -m0644 admin/runit/etc/debian/$$i \
	    $(CURDIR)/debian/runit/usr/share/doc/runit/doc/debian/; \
	done

# Build architecture-independent files here.
binary-indep: build install

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir -a
	dh_testroot -a
#	dh_installdebconf -a
#	dh_installdocs -an
#	dh_installexamples -a
	dh_installman -a admin/runit/man/*.8
#	dh_undocumented -a
	dh_installchangelogs -a admin/runit-0.9.0/package/CHANGES
	dh_strip -a
#	dh_link -a
	dh_compress -a
	dh_fixperms -a -X/sbin
#	dh_makeshlibs -a
	dh_installdeb -a
#	dh_shlibdeps -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
