*.o
*.a

choose
chpst
compile
direntry.h
hasflock.h
hasmkffo.h
hassgact.h
hassgprm.h
hasshsgr.h
haswaitp.h
iopause.h
load
makelib
reboot_system.h
runit
runit-init
runsv
runsvchdir
runsvdir
select.h
socket.lib
sv
svlogd
sysdeps
uint64.h
utmpset
uw_tmp.h
